<a href="https://colab.research.google.com/github/SoniReddyMaram/Split-Video/blob/main/Basic_input_and_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a program to accept two numbers from the user and calculate multiplication

In [4]:
num1=int(input("Enter number 1: "))
num2=int(input("Enter number 2: "))
result = num1*num2
print("Multiplication of number 1 and number 2 is", result)

Enter number 1: 5
Enter number 2: 10
Multiplication of number 1 and number 2 is 50

# Display four strings "My", "Name", "is", "soni" as "My ** Name** is ** soni **"

In [2]:
print("My","Name","is","Soni",sep="**'")

My**Name**is**Soni

# Convert Decimal number to octal using print() output formatting

In [7]:
num = 8
print("%o" % num)

10

# Display float number with 2 decimal places using print()

In [8]:
num = 478.21359
print("%.2f" %num)

478.21

# Accept a list of 5 float numbers as an input from the user

In [11]:
numbers = []

for i in range(0,5):
  print("Enter number at location", i, ":")
  item = float(input())
  numbers.append(item)
print("User Lists:", numbers)

Enter number at location 0 :
20.5
Enter number at location 1 :
45.1
Enter number at location 2 :
75.9
Enter number at location 3 :
43.1
Enter number at location 4 :
75.8
User Lists: [20.5, 45.1, 75.9, 43.1, 75.8]

# Write a program to take three names as input from a user in the single input() function call.

In [13]:
str1, str2, str3 = input("Enter three strings").split()
print("Name1:", str1)
print("Name2:", str2)
print("Nmae3:", str3)

Enter three stringsRam Sita Raju
Name1: Ram
Name2: Sita
Nmae3: Raju